<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Recipe</title>
</head>
<body>

    <!--Add new recipe-->
    <form th:method="POST" th:action="@{/createRecipe/save}" th:object="${newRecipe}" name="createRecipe">
        <div>
            <label>Nama Resep: </label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Bahan-bahan yang diperlukan: </label>
            <input type="text" th:field="*{ingredients}">
        </div>
        <div>
            <label>Cara memasak: </label>
            <input type="text" th:field="*{howto}">
        </div>
        <div>
            <label for="inputPublik">Bisa dilihat oleh publik? </label>
            <div id="inputPublik">
                <!--Pilihan Public-->
                <input type="radio" id="Public" name="publik" th:value="true">
                <label for="Public">Ya</label>
                <!--Pilihan Private-->
                <input type="radio" id="Private" name="private" th:value="false">
                <label for="Private">Tidak</label>
            </div>
        </div>
        <div>
            <label for="inputUserId">User ID: </label>
            <input type="text" name="userId" id="inputUserId" th:field="*{userid}">
        </div>
        <button type="submit" onclick="window.location.href='/home'">Simpan</button>
    </form>
</body>
</html>