<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Resep</title>
</head>
<body>

    <!--Add new recipe-->
    <form th:method="GET" th:object="${editRecipe}" name="editRecipe">
        <div>
            <label>Nama Resep: </label>
            <input type="text" th:value="*{name}">
        </div>
        <div>
            <label>Bahan-bahan yang diperlukan: </label>
            <input type="text" th:value="*{ingredients}">
        </div>
        <div>
            <label>Cara memasak: </label>
            <input type="text" th:value="*{howto}">
        </div>
        <div>
            <label for="inputPublik">Bisa dilihat oleh publik? </label>
            <div id="inputPublik">
                <!--Pilihan Public-->
                <input type="radio" id="Public" name="publik" th:value="true">
                <label for="Public">Ya</label>
                <!--Pilihan Private-->
                <input type="radio" id="Private" name="private" th:value="false">
                <label for="Private">Tidak</label>
            </div>
        </div>
        <div>
            <label for="inputUserId">User ID: </label>
            <input type="text" name="userId" id="inputUserId" th:value="*{userid}">
        </div>
        <button type="submit" onclick="window.location.href='/home'">Simpan</button>
        <a th:href="@{/detailRecipe/}+${editRecipe.id}">Kembali ke resep</a>
    </form>

</body>
</html>